@media (max-width: 568px) {
  .rect {
    border: 0px;
  }
  li {
    padding-left: 42%;
  }
  .navbar-right {
    display: flex;
    justify-content: space-around;
  } 
  .gridSmall{
  padding-left:8%;
  padding-top:20%;

  }
  .rectangle {
    visibility: hidden;
  }
  li {
    padding-left: 37%;
  }
  .smallBorder1 {
    font-size: 20px;
  }
  .border1 {
    font-size: 25px;
  } 
  .mainText {
    visibility: none;
  }
  .mainTextSmall {
    font-size: 0.8em;
  }
  .scroll {
    display: none;
  }
  .symbol {
    display: none;
  }
  .paraText {
    display: none;
  }
  .paraTextSmall {
    position: absolute;
    top: 50%;
  }
  .notice {
    visibility: none;
  }
  .noticeSmall {
    font-size: 0.4em;
    padding-top: 1.3em;
    padding-left: 0.3em;
    font-weight: bold;
  }
  .sst {
    font-size: 0.8em;
  }
  .sspan{
   display:none;
  }
  .try {
    display: none;
  }
  .trySmall {
    position: absolute;
    margin-top: -10%;
  }
  .rectangle2 {
    visibility: none;
  }
  .rectangle2Small {
    background-color: transparent;
    border: 5px solid black;
    height: 90%;
    width: 70%;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.section {
  text-align: center;
  padding: 50px 80px;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.grid{
  padding-bottom:9%;
  padding-right:11%;
}
.border1 {
  letter-spacing: normal;
  color: black;
  font-kerning: 20px;
  font-weight: bold;
  font-size: 1.9em;
  position: absolute;
}
.bubble1 {
  position: absolute;
  left: 57%;
  top: 45%;
  z-index: 1;
}

.rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65%;
  width: 85%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  padding: 160px;
  border-radius: 20px;
}
.scroll {
  position: absolute;
  top: 74%;
  left: 68%;
  height: 5vh;
  width: 17vh;
  background-color: skyblue;
  border: 2px solid skyblue;
  border-bottom-right-radius: 25px;
}
.symbol {
  position: absolute;
  top: -60%;
  left: -45%;
  height: 7vh;
  width: 7vh;
  background-color: skyblue;
  border: 2px solid skyblue;
  border-radius: 50%;
}
.paraText {
  position: absolute;
  top: 70% !important;
}
.myDiv {
  height: 500px;
  width: 100%;
}
.battery {
  position: absolute;
  top: 30%;
  left: 30%;
}

/* connection page */
.solution {
  height: 570px;
}
.rectangle2 {
  background-color: transparent;
  border: 5px solid black;
  height: 60%;
  width: 65%;
border-radius: 6%;
}
.notice {
  fontweight: bold;
  padding-top: 1%;
  padding-left: 8%;
  font-size: 0.8em;
}
.box {
  height: 25px;
  width: 25px;
  background-color: skyblue;
  border-radius:50%;
}
.corner {
  height: 10%;
  width: 12%;
  background-color: skyblue;
  border-bottom-right-radius: 40%;
  border-radius-botton-right: 3px solid black;
}
